@model IEnumerable<CountdownService.Models.MovieInfo>
@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="title">
            <span class="name">Name</span>
            <span class="release-date">Release Date</span>
            <span class="days-until-release-title">Days Until Release</span>
            <span class="status">Status</span>
        </div>
        <div class="phase">Phase 1</div>
        @foreach (var item in Model.Where(x => x.Phase == 1).ToList())
        {
        <div class="film">
            <span class="film-name">
                <a href="">@item.Name</a>
            </span>
            <span class="release-date">@item.ReleaseDate.ToLongDateString()</span>
            <span class="days-until-release"></span>
            <span class="status">@item.Status</span>
        </div>
        }
        <div class="phase">Phase 2</div>
        <div class="film">
            <span class="film-name">
                <a href="">Iron Man 3</a>
            </span>
            <span class="release-date">May 3, 2013</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Thor: The Dark World</a>
            </span>
            <span class="release-date">November 8, 2013</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Captain America: The Winter Soldier</a>
            </span>
            <span class="release-date">April 4, 2014</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Guardians of the Galaxy</a>
            </span>
            <span class="release-date">August 1, 2014</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Avengers: Age of Ultron</a>
            </span>
            <span class="release-date">May 1, 2015</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Ant-Man</a>
            </span>
            <span class="release-date">July 17, 2015</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="phase">Phase 3</div>
        <div class="film">
            <span class="film-name">
                <a href="">Captain America: Civil War</a>
            </span>
            <span class="release-date">May 6, 2016</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Doctor Strange</a>
            </span>
            <span class="release-date">November 4, 2016</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Guardians of the Galaxy 2</a>
            </span>
            <span class="release-date">May 5, 2017</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Spider-Man</a>
            </span>
            <span class="release-date">July 28, 2017</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Thor: Ragnarok</a>
            </span>
            <span class="release-date">November 3, 2017</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Avengers: Infinity War Part 1</a>
            </span>
            <span class="release-date">May 4, 2018</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Black Panther</a>
            </span>
            <span class="release-date">July 6, 2018</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Captain Marvel</a>
            </span>
            <span class="release-date">November 2, 2018</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Avengers: Infinity War Part 2</a>
            </span>
            <span class="release-date">May 3, 2019</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
        <div class="film">
            <span class="film-name">
                <a href="">Inhumans</a>
            </span>
            <span class="release-date">July 12, 2019</span>
            <span class="days-until-release"></span>
            <span class="status"></span>
        </div>
    </div>
